{{!-- {{#let (element this.tagName) as |Tag|}}
  <Tag
    {{did-insert this.setupRoot}}
    ...attributes
  />
{{/let}} --}}
<div {{did-insert this.setupRoot}} ...attributes>
  {{#unless this.shadow}}
    {{yield}}
  {{/unless}}
</div>

{{#if this.shadow}}
  {{#-in-element this.shadow}}
    {{yield}}
  {{/-in-element}}
{{/if}}