Outside the shadow

<ShadowDom class='hello'>
  <style>
    .internal {
      color: red;
    }
  </style>

  <div class='internal'>
    in the shadow
    <button {{action this.clicked}}>Clicked</button>
    {{if this.wasClicked 'Clicked' 'Not Clicked'}}
  </div>
</ShadowDom>

<hr>
closed<br>

<ShadowDom id='internal' @mode='closed'>
  <div class='block'>template block text</div>
</ShadowDom>