Outside the shadow

<ShadowRoot class='hello'>
  {{! template-lint-disable no-forbidden-elements}}
  <style>
    .internal {
      color: {{or @color 'red'}};
    }
  </style>

  <div class='internal'>
    in the shadow
    <button type='button' {{on 'click' this.clicked}}>
      Clicked
    </button>
    {{if this.wasClicked 'Clicked' 'Not Clicked'}}
  </div>
</ShadowRoot>

<hr />
closed
<br />

<ShadowRoot id='internal' @mode='closed'>
  <div class='block'>
    template block text
  </div>
</ShadowRoot>