Outside the shadow
<div id='shadowed'></div>

<ShadowDom @selector='#shadowed'>
  <style>
    .internal {
      color: red;
    }
  </style>

  <div class='internal'>
    in the shadow
    <button {{action this.clicked}}>Clicked</button>
    {{if this.wasClicked 'Clicked' 'Not Clicked'}}
  </div>
</ShadowDom>